/* style.css */
body {
  background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url("assets/bg.png");
  background-repeat: no-repeat; /* 画像の繰り返しを防止 */
  background-size: 100vw auto ; /* 横幅100%、高さは自動調整 */
  background-position: center center; /* または単に center */
  background-attachment: fixed;
  overflow: hidden;
  height: 100vh;
}
@media (max-width: 640px) {
  body {
    background-position: center top;
    background-size: 100vh auto ; /* 横幅100%、高さは自動調整 */
  }
}

h3 {
  font-weight: bold;
}

.flex {
  justify-content: center;
}

.grid {
  justify-content: center;
}
.grid-cols-1 {
  grid-template-columns: auto;
}
.grid-cols-2 {
  grid-template-columns: auto auto;
}
.grid-cols-3 {
  grid-template-columns: auto auto auto;
}
.grid-cols-4 {
  grid-template-columns: auto auto auto auto;
}
.grid-cols-5 {
  grid-template-columns: auto auto auto auto auto;
}
.grid-cols-6 {
  grid-template-columns: auto auto auto auto auto auto;
}
@media (min-width: 768px) {
  .md\:grid-cols-1 {
    grid-template-columns: auto;
  }
  .md\:grid-cols-2 {
    grid-template-columns: auto auto;
  }
  .md\:grid-cols-3 {
    grid-template-columns: auto auto auto;
  }
  .md\:grid-cols-4 {
    grid-template-columns: auto auto auto auto;
  }
  .md\:grid-cols-5 {
    grid-template-columns: auto auto auto auto auto;
  }
  .md\:grid-cols-6 {
    grid-template-columns: auto auto auto auto auto auto;
  }
  .md\:grid-cols-7 {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}

.line {
  grid-gap: 3px 15px;
}

#soonCB {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 5px;
}

.spacer {
  width: 10px;
  height: 5px;
}

.filterCard {
  margin: 1px;
  position: relative; /* 画像の上にチェックボックスを重ねるために必要 */
  display: inline-block; /* 画像とチェックボックスを1つのブロックとして扱う */
}
.filterImg {
  object-fit: contain;
  height: 36px;
}
@media (min-width: 768px) {
  .filterImg {
    height: 48px;
  }
}
.overlayCB {
  position: absolute; /* 画像の上に重ねる */
  top: 0px; /* 上からの位置調整 */
  left: 0px; /* 左からの位置調整 */
  width: 14px;
  height: 14px;
  z-index: 2; /* チェックボックスが画像の上に表示されるようにする */
}

#filterTglBtn {
  position: fixed;
  bottom: 100px;
  right: 5px;
  color: #ffffff;
  background: #FF6B6B;
  border: 2px solid white;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.7), 0px 1px 1px rgba(0,0,0,0.5);
  z-index: 1000;
}
@media (min-width: 768px) {
  #filterTglBtn {
    display: none;
  }
}


.charCard {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 3px;
  margin-left: 10px;
  min-width: 100px;
}
.charCard p {
  font-size: 10px;
  text-align: center;
}
.charCard button {
  font-size: 8px;
}
.charIcon {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  object-fit: cover; /* アスペクト比を維持しつつ調整 */
}
.white {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5); /* 透過した白 */
  border-radius: 50%;
  z-index: 2; /* 白い丸をキャラクター画像の下に配置 */
  top: 0;
  left: 0;
}
.colorImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px; /* カラー画像のサイズ */
  height: 40px; /* カラー画像のサイズ */
  z-index: 3; /* 必要に応じて画像の重なり順を調整 */
}


.floatingchat-container-wrap,
.floatingchat-container-wrap-mobi {
  left: auto !important;
  right: 50px !important;
}

#kofi-wo-container .floatingchat-donate-button,
#kofi-wo-container-mobi .floatingchat-donate-button {
  left: auto !important;
  right: 0 !important;
}
.floating-chat-kofi-popup-iframe,
.floating-chat-kofi-popup-iframe-mobi {
  left: auto !important;
  right: 10px !important;
}

.container {
  height: 100vh;
  width: 100%;
}

/* デフォルト：上下分割（縦長画面向け） */
.panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#filterContainer.active { height: 0%; }
#filterContainer{
  height: 65%;
  overflow-y: auto;
  background-color: rgba(240, 248, 255, 0.25);  /* 透過度50%のアリスブルー */
  padding-left: 3px;
  border-bottom: 2px solid #000;
}
#charContainer.active { height: 100%; }
#charContainer{
  height: 35%;
  overflow-y: auto;
  background-color: rgba(255, 182, 193, 0.15);  /* Soft Pink */

  padding: 3px;
  justify-content: center;
}

h1 {
  font-size: 16px;
}
/* 横長画面向け：左右分割 */
@media (min-aspect-ratio: 1/1) {
  h1 {
    font-size: 2em;
  }
  .panel-container {
    flex-direction: row-reverse; /* 左右に並べる */
  }
  #filterContainer {
    height: 100%;
    width: 50%;
    border-bottom: none;
    border-left: 2px solid #ccc;
  }
  #charContainer {
    height: 100%;
    width: 50%;
  }
}

.panel-content {
  padding: 10px;
}

.panel-item {
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}
